---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Width of the content area
$content-width: 100vw;

$on-palm: 100%;
$on-laptop: 100%;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "mixins",
        "fonts",
        "phygital-fontello",
        "base",
        "layout",
        "syntax-highlighting",
        "header",
        "eellak-xtra",
        "post-list",
        "home",
        "consortium",
        "press-kit",
        "post",
        "footer",
        "info-page"
;
