---
layout: default
slug: home

hero_text_top: ""
hero_text_bottom: ""

infoz:
  - "Πληροφορίες"

infoz-content:
  - 

section_partners:
  title: "Partners"

section_budget:
  funding_info: "Project co-funded by the European Union and National Funds of the participating countries"
  budget_label: "Project budget"
  budget_value: "855.172,79€"
---

<div class="home">

  <section class="landing-slider">

      {% for image in site.static_files %}
        {% if image.path contains 'assets/images/landing_slider' %}
          <!-- <img src="{{ image.path | prepend: site.baseurl }}" alt="image" /> -->
          <div class="carousel-cell" style="background-image: url('{{ image.path | prepend: site.baseurl }}');">
            
            <!-- <img src="{{ myimage.path }}" alt=""> -->
          </div>
        {% endif %}
      {% endfor %}
    <div id="hero-content">
      <a id="main-logo">
        <img src="{{ '/assets/images/logo-long.png' | prepend: site.baseurl }}" alt="Phygital">
      </a>
      
      <div id="hero-text">
        <div>{{ page.hero_text_top }}</div>
        <div>{{ page.hero_text_bottom }}</div>
      </div>
    </div>
    <!-- <a href="{{ "/about" | prepend: site.baseurl }}" class="site-identity">

      <h1 class="site-title">{{ site.infoz }}</h1>
      <h1 class="site-title">{{ site.title }}</h1>
      <h2 class="project-description">{{ site.description }}</h2>
      
    </a>  -->
  </section>

  <section id="infoz">
    <div id="infoz-wrapper">
      {% for info in page.infoz %}
      <div class="info">
        {{ info }}
      </div>
      {% endfor %}
      <div class="infoz-content">
        <p>
          To Εθνικό Μετσόβιο Πολυτεχνείο, το  Ελληνικό Ανοιχτό Πανεπιστήμιο, το Πανεπιστήμιο Δυτικής Αττικής το ΤΕΙ Ανατολικής Μακεδονίας και Θράκης, το Πανελλήνιο Σχολικό Δίκτυο, και ο Οργανισμός Ανοιχτών Τεχνολογιών διοργανώνουν, 29-30 Νοεμβρίου στο ΕΜΠ, Αίθουσες Πολυμέσων, το 2ο Πανελλήνιο Συνέδριο MoodleMoot( https://moodlemoot.org/mootgr18).
        </p>
        <p>
          Σκοπός του Συνεδρίου είναι να προωθήσει το γόνιμο και δημιουργικό διάλογο στην εκπαιδευτική κοινότητα για τη χρήση του Moodle, να αναδείξει καλές πρακτικές χρήσης του στην Ελλάδα, καθώς και να παρουσιαστούν καινοτόμες χρήσεις λειτουργιών του Moodle στην Ελλάδα και διεθνώς.
        </p>
        <h2>Θεματικές ενότητες MoodleMootGR</h2>
        <ul>
          <li>Καλές πρακτικές χρήσης του Moodle στην Πρωτοβάθμια-Δευτεροβάθμια Εκπαίδευση</li>
          <li>Καλές πρακτικές χρήσης του Moodle στην Τριτοβάθμια Εκπαίδευση</li>
          <li>Καλές πρακτικές χρήσης του Moodle σε εταιρικό περιβάλλον</li>
          <li>Mobile Learning</li>
          <li>Learning analytics</li>
          <li>Gamification στο Moodle</li>
          <li>Διαχείριση και ανάπτυξη του Moodle</li>
          <li>Επεκτάσεις και διασύνδεση με άλλες πλατφόρμες</li>
          <li>Εργαστήρια</li>
        </ul>
        <h2>Το συνέδριο απευθύνεται σε</h2>
        <ul>
          <li>Εκπαιδευτικούς Α/θμιας & Β/θμιας Εκπαίδευσης.</li>
          <li>Μέλη της Ακαδημαϊκής-Ερευνητικής Κοινότητας.</li>
          <li>Ερευνητές της Εκπαίδευσης.</li>
          <li>Εκπαιδευτές Ενηλίκων.</li>
          <li>Εταιρείες και οργανισμούς του δημόσιου και ιδιωτικού τομέα που χρησιμοποιούν το Moodle.</li>
        </ul>
      </div>
    </div>
  </section>

  <section id="previous-conferences">
    <div id="previous-conferences-wrapper">
      <h1>Προηγούμενα Συνέδρια</h1>
      <a href="https://moodlemoot.org/mootgr18/">
        <div class="previous-conference" id="pre-2018">
          2018
        </div>
      </a>
      <a href="https://moodlemoot.org/mootgr17/">
        <div class="previous-conference" id="pre-2017">
          2017
        </div>
      </a>
    </div>
    </section>
</div>
