<footer class="site-footer">

  <div id="footer-wrapper" class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="privacy">
          <li>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
          </li>
          <li class='privacy-li'>
            <a href="https://ellak.gr/privacy/" target="_blank">Πολιτική απορρήτου</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">

        <h2 class="footer-h">
          Contact
        </h2>
        <!-- <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul> -->
        <ul class="social-media-list">
          {% if site.social.twitter %}
            <li>
              <a href="{{ site.social.twitter }}">
                <i class="icon-twitter"></i>
              </a>
            </li>
            {% endif %}
            
            {% if site.social.facebook %}
            <li>
              <a href="{{ site.social.facebook }}">
                <i class="icon-facebook"></i>
              </a>
            </li>
            {% endif %}
            
            <!-- <li>
              <a href="{{ site.social.gitlab }}">
                <i class="icon-gitlab"></i>
              </a>
            </li> -->
          </ul>
          
        </div>
        
        <div class="footer-col footer-col-3">
        </div>
    </div>

  </div>
  
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/vendor/rellax/rellax.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/bower_components/flickity/dist/flickity.pkgd.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/js/theme.js' | prepend: site.baseurl }}"></script>
</footer>
<!--  -->
</html>