<header class="site-header" id="site-header">

  <div class="header-wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/logo.png" alt="logo">
    </a>

    <nav class="site-nav">
      <a href="#" class="menu-icon" id="burger">
        <div></div>
      </a>

      <!-- <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.type == 'main' %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div> -->

      <ul class="main-nav trigger">
        {% for item in site.menus.main-nav %}
          <li class="menu-item menu-item-{{ forloop.index }}">
            <a href="{{ item.url | prepend: site.baseurl }}" title="Go to {{ item.title }}">{{ item.title }}</a>
            {% if item.children %}
              <ul class="sub-menu">
              {% for item in item.children %}
                <li class="menu-item-{{ forloop.index }}">
                  <a href="{{ item.url | prepend: site.baseurl }}" title="Go to {{ item.title }}">{{ item.title }}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>

  </div>

</header>
