body.partners{

	header.post-header{
		margin-bottom: 45px;

		h1{
			font-size: 50px;
			font-family: "Century Gothic", sans-serif;
			line-height: 1.25em;
			letter-spacing: .01em;
			letter-spacing: -1px;
			line-height: 1;
			float: none;
		}
	}
	.consortium-group{
		margin-bottom: 30px;

		@media screen and (max-width: 880px){
			padding-left: 25px;
			padding-right: 25px;
		}

		h2{
			font-family: $main_font;
			font-size: 30px;
			line-height: 1.25em;
			letter-spacing: .015em;
			text-align: center;
			font-weight: bold;
			margin-top: 1.4em;
			margin-bottom: 1.4em;
		}

		.participant-item{
			position: relative;
			min-height: 100px;
			display: block;
			vertical-align: middle;
			line-height: 100px;
			margin-bottom: 2em;
			font-size: 40px;
			
			@media screen and (max-width: 640px){
				line-height: initial;
				margin-bottom: 20px;
			}
			
			&:hover{
				text-decoration: none; 

				h3{
					span{
						background-color: #e3e3e3;
						color: $black;
					}
				}
			}
			
			.part-logo{
				position: relative;
				width: 20%;
				max-width: 250px;
				min-width: 180px;
				margin: auto;;
				// top: 50%;
				// left: 0;
				// transform: translateY(-50%);
				// -moz-transform: translateY(-50%);
				// -webkit-transform: translateY(-50%);
				// -o-transform: translateY(-50%);
				// border: 1px solid #efefef;
				padding: 4px;
				border-radius: 7px;
				transition: border-color .2s ease-out;
				-moz-transition: border-color .2s ease-out;
				-webkit-transition: border-color .2s ease-out;
				-o-transition: border-color .2s ease-out;

				@media screen and (max-width: 640px){
					position: relative;
					// display: inline-block;
					transform: translateY(0);
					-moz-transform: translateY(0);
					-webkit-transform: translateY(0);
					-o-transform: translateY(0);
				}
				
				.aspect-container{
					position: relative;
					width: 100%;
					display: block;
					content: '';
					padding-top: 50%;
					
					@media screen and (max-width: 640px){
						padding-top: 65%;
					}

					.frame{
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						overflow: hidden;
						
						.centered{
							height: 100%;
							width: 100%;
							position: absolute;
							top: 0;
							left: 0;
							transform: translate(50%, 50%);
							-moz-transform: translate(50%, 50%);
							-webkit-transform: translate(50%, 50%);
							-o-transform: translate(50%, 50%);

							img{
								position: absolute;
								top: 0;
								left: 0;
								max-height: 100%;
								transform: translate(-50%, -50%);
								-moz-transform: translate(-50%, -50%);
								-webkit-transform: translate(-50%, -50%);
								-o-transform: translate(-50%, -50%);
							}
						}
					}
				}
			}

			h3{
				position: relative;
				color: $menu-font-color;
				transition: color .2s ease-out;
				-moz-transition: color .2s ease-out;
				-webkit-transition: color .2s ease-out;
				-o-transition: color .2s ease-out;

				font-family: $main_font;
				font-size: 25px;
				text-align: center;
				margin-top: .4em;
				
				font-weight: normal;
				letter-spacing: -0.5px;
				line-height: 1.1em;
	
				@media screen and (max-width: 640px){
					position: relative;
					display: block;
					width: 100%;
					margin-left: 0;
				}
				
				span{
					background-color: transparent;
					@include my_transition(all);
				}
			}
		}
	}

	.project-budget{
		margin: auto;
		margin-top: 40px;
		width: 300px;
	}
}
