@font-face{
	font-family: 'Century Gothic';
	src: url('../assets/fonts/CenturyGothic.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/CenturyGothic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/CenturyGothic.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('../assets/fonts/CenturyGothic.svg#CenturyGothic') format('svg'); /* Legacy iOS */
	font-weight: normal;
}

@font-face{
	font-family: 'Caviar';
	src: url('../assets/fonts/CaviarDreams.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/CaviarDreams.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/CaviarDreams.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/CaviarDreams.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('../assets/fonts/CaviarDreams.svg#CaviarDreams') format('svg'); /* Legacy iOS */
	font-weight: normal;
}

@font-face{
	font-family: 'Caviar';
	src: url('../assets/fonts/CaviarDreams-Bold.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/CaviarDreams-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/CaviarDreams-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/CaviarDreams-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('../assets/fonts/CaviarDreams-Bold.svg#CaviarDreams-Bold') format('svg'); /* Legacy iOS */
	font-weight: bold;
}

@font-face{
	font-family: 'Montserrat';
	src: url('../assets/fonts/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('../assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'); /* Legacy iOS */
	font-weight: normal;
}

@font-face{
	font-family: 'Fontello';
	src: url('../assets/fonts/phygital-fontello.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/phygital-fontello.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/phygital-fontello.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/phygital-fontello.woff2') format('woff2'), /* Pretty Modern Browsers */
       url('../assets/fonts/phygital-fontello.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('../assets/fonts/phygital-fontello.svg#phygital-fontello') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

// @font-face{

// }

// @font-face{

// }