body{
	
	&.news, &.press-items{
		

		.page-content{
			.wrapper{
				display: block;
				margin: auto;
				max-width: 880px;
				min-width: 300px;
				// padding: 25px;
				box-sizing: content-box;
				padding-top: 1em;
				font-size: 40px;

				h1.page-heading{
					font-size: 50px;
					font-family: "Century Gothic", sans-serif;
					line-height: 1.25em;
					letter-spacing: .01em;
					letter-spacing: -1px;
					line-height: 1;
					float: none;
				}

				ul.posts-list{
					margin: 0;
					padding: 0;
					list-style-type: none;
					padding: 0 25px;

					.post-meta{
						line-height: 1.1em;
						font-family: "Caviar";
						font-size: 20px;
						text-decoration: underline;
						color: #007688;
					}
					
					.post-link{
						margin-top: -.2em;
						display: block;
						text-decoration: none;
						
						&:hover{
							h2{
								background-color: #e3e3e3;
							}
						}
						
						h2{
							font-family: "Century Gothic";
							font-size: 28px;
							color: $black;
							font-weight: bold;
							line-height: 1.2em;
							letter-spacing: .9px;
							display: inline;
							background-color: transparent;
							@include my_transition(background-color);
							margin-bottom: 0;
						}
					}

					.post-excerpt{
						margin-top: .6em;
						font-family: "Century Gothic";
						font-size: 20px;
						color: $black;
						font-weight: normal;
						line-height: 1.2em;
						letter-spacing: .2px;
					}
				}
			}
		}
	}
}