---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% if page.featured %}
    <div class="featured-container" style=" background-image: url('{{ page.featured | prepend: site.baseurl }}');">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    </div>
    {% else %}
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% endif %}
  </header>
  
  <div class="post-content" itemprop="articleBody">
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    <div class="article-content">
      {{ content }}
    </div>
  </div>

</article>
